<div class="center">
  <form class="well form-horizontal" action="/ana_form" method="get">
    <div class="form-group">
      <div class="col-sm-10">
        <label for="user-word">Enter word here:</label>
        <input class="form-control" id="user-word" name="user-word" type="text" placeholder="Word or Words to test for anagram or antigram status">
      <div>
      </div>
    <br>
    <div class="form-group">
      <div class="col-sm-12">
        <label for="test-word">Enter word here:</label>
        <input class="form-control" id="test-word" name="test-word" type="text">
      </div>
    </div>
    <button class="btn btn-info" type="submit">Click</button>
    <h2> <%= @result %></h2>
  </form>


</div>
