<form action="/ana_form" method="get">
  <div class="form-group">
    <label for="user-word">Enter word here:</label>
    <input id="user-word" name="user-word" type="text">
  </div>
  <button type="submit">Click</button>
</form>

<h2> <%= @result %></h2>
