<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="jumbotron">
          <h1>World Famous Anagram Solver</h1>
          <h6>also Friday assessment</h6>
        </div>
        <div class="col-md-10 main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
